# ACS Data Cleaning - Top 10 Metro Areas

## Importing Required Libraries

In [1]:
import os
import numpy as np
import pandas as pd
import pandas_gbq
import statistics
from google.cloud import bigquery
from varname import nameof
from collections import Counter
%load_ext google.cloud.bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = '../zori-data-extr-be793d5c3325.json'

# Set your default project here
pandas_gbq.context.project = 'bigquery-public-data'
pandas_gbq.context.dialect = 'standard'

## Using Google BigQuery to Download ACS Data

In [2]:
%%bigquery --use_rest_api ACS_2018
SELECT *
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2018_5yr`

Query complete after 0.03s: 100%|██████████| 1/1 [00:00<00:00, 290.26query/s]
Downloading: 100%|██████████| 33120/33120 [00:05<00:00, 6068.51rows/s]

In [3]:
%%bigquery --use_rest_api ACS_2017
SELECT *
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2017_5yr`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 571.66query/s]
Downloading: 100%|██████████| 33120/33120 [00:05<00:00, 5890.60rows/s]

In [4]:
%%bigquery --use_rest_api ACS_2016
SELECT *
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2016_5yr`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 541.83query/s]
Downloading: 100%|██████████| 33120/33120 [00:05<00:00, 5684.05rows/s]

In [5]:
%%bigquery --use_rest_api ACS_2015
SELECT *
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2015_5yr`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 411.33query/s]
Downloading: 100%|██████████| 33120/33120 [00:14<00:00, 2260.07rows/s]

In [6]:
%%bigquery --use_rest_api ACS_2014
SELECT *
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2014_5yr`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 144.47query/s]
Downloading: 100%|██████████| 33120/33120 [00:06<00:00, 5161.93rows/s]

## ACS Data Pre-Processing

In [7]:
pd.set_option('display.max_columns', None)
#Looking at the shape of each dataframe
print(ACS_2018.shape)
print(ACS_2017.shape)
print(ACS_2016.shape)
print(ACS_2015.shape)
print(ACS_2014.shape, '\n')

(33120, 240)
(33120, 252)
(33120, 252)
(33120, 247)
(33120, 252)

Based on the data shown above, a number of columns are missing from the 2018 data set. Since the 2018 data set is the latest, all additional columns seen in prior year surveys will be dropped for consistency.

In [8]:
def clean_columns(df_year1, df_year2):
    """
    This function cleans the second dataframe to only include columns of the first dataframe.
    
    Arguments
    
    df_year1 : (Pandas dataframe) dataframe containing the columns of interest
    df_year2 : (Pandas dataframe) dataframe containing the columns of interest + additional
    
    Returns
    
    df_year2 : (Pandas dataframe) modified version of the df_year2 dataframe from inputs
    
    """
    diff = np.setdiff1d(df_year2.columns, df_year1.columns)
    print(f'Columns from {nameof(df_year2)} non included in {nameof(df_year1)}:\n\nTotal of {len(diff)}\n\n{diff}\n\n')
    print('Removing columns...')
    
    #Dropping the columns from df_year2 that are not present in the df_year1
    df_year2 = df_year2.drop(columns = diff, inplace = True)
    
    print('Process complete\n\n')
    
    return df_year2

In [9]:
#Using the above defined function to clean columns
clean_columns(ACS_2018, ACS_2017)
clean_columns(ACS_2018, ACS_2016)
clean_columns(ACS_2018, ACS_2015)
clean_columns(ACS_2018, ACS_2014)

Columns from df_year2 non included in df_year1:

Total of 12

['amerindian_including_hispanic' 'asian_including_hispanic'
 'black_including_hispanic' 'commute_35_39_mins' 'commute_40_44_mins'
 'commute_5_9_mins' 'commute_60_89_mins' 'commute_90_more_mins'
 'households_retirement_income' 'male_60_61' 'male_62_64'
 'white_including_hispanic']


Removing columns...
Process complete


Columns from df_year2 non included in df_year1:

Total of 12

['amerindian_including_hispanic' 'asian_including_hispanic'
 'black_including_hispanic' 'commute_35_39_mins' 'commute_40_44_mins'
 'commute_5_9_mins' 'commute_60_89_mins' 'commute_90_more_mins'
 'households_retirement_income' 'male_60_61' 'male_62_64'
 'white_including_hispanic']


Removing columns...
Process complete


Columns from df_year2 non included in df_year1:

Total of 13

['amerindian_including_hispanic' 'asian_including_hispanic'
 'black_including_hispanic' 'commute_35_39_mins' 'commute_40_44_mins'
 'commute_5_9_mins' 'commute_60_89_mins' 'commute_90_more_mins' 'geoid'
 'households_retirement_income' 'male_60_61' 'male_62_64'
 'white_including_hispanic']


Removing columns...
Process complete


Columns from df_year2 non included in df_year1:

Total of 12

['amerindian_including_hispanic' 'asian_including_hispanic'
 'black_including_hispanic' 'commute_35_39_mins' 'commute_40_44_mins'
 'commute_5_9_mins' 'commute_60_89_mins' 'commute_90_more_mins'
 'households_retirement_income' 'male_60_61' 'male_62_64'
 'white_including_hispanic']


Removing columns...
Process complete

In [10]:
#Looking at the shape of each dataframe to confirm column cleaning has been done appropriately
print(ACS_2018.shape)
print(ACS_2017.shape)
print(ACS_2016.shape)
print(ACS_2015.shape)
print(ACS_2014.shape, '\n')

(33120, 240)
(33120, 240)
(33120, 240)
(33120, 234)
(33120, 240)

In [11]:
diff = np.setdiff1d(ACS_2018.columns, ACS_2015.columns)
diff

array(['pop_15_and_over', 'pop_divorced', 'pop_never_married',
       'pop_now_married', 'pop_separated', 'pop_widowed'], dtype=object)

As can be seen above for year 2015 there are less columns than in any other year. Before dropping the columns in all other survey years, looking at missingness of those 6 columns would be best.

In [12]:
#Adding a year column to each survey dataframe
ACS_2018['year'] = 2018
ACS_2017['year'] = 2017
ACS_2016['year'] = 2016
ACS_2015['year'] = 2015
ACS_2014['year'] = 2014

#Combining all ACS dataframes to one global ACS dataframe
ACS = pd.concat([ACS_2018, ACS_2017, ACS_2016, ACS_2015, ACS_2014], ignore_index = True)
ACS.reset_index().drop(columns = 'index', inplace = True)

In [13]:
ACS.shape

(165600, 241)

### Keeping the Focus on Top 10 Zillow Metro Areas

The project is looking at predicting 2019 data as a base model (no Covid-19 effect) by using zip codes from the top 10 metro areas in the currently available ZRI index data.

In [14]:
#Reading in the Focus Zipcode file
focus_zip = pd.read_csv('../Data/focus_zipcode.csv')

#Creating a list of pertinent zip codes in str format
focus_zip_l = focus_zip.RegionName.apply(lambda x: str(x)).to_list()

#Keeping rows that have focus zipcodes in created ACS dataframes
ACS = ACS.loc[ACS['geo_id'].isin(focus_zip_l)]

In [15]:
ACS.shape

(11165, 241)

### ACS Operational Data

Columns such as *gini_index* and *do_date* are ACS operational columns that are not required for this project. As such, they will be dropped.

In [16]:
#Dropping ACS operational columns
ACS.drop(columns = ['gini_index', 'do_date'], inplace = True)

### Income Columns

Partly Parrots will be looking at IRS data for everything income related, as such all income related columns will be dropped.

In [17]:
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'income')))]

In [18]:
ACS.shape

(11165, 220)

### Looking at Missingness

In [19]:
def missingness(df):
    """
    This function looks at the number of missing values in a dataframe
    
    Arguments
    
    df          : (Pandas dataframe) dataframe of interest
    
    Returns
    
    missing_col : (dictionary) column name and number of missing values 
    
    """
    all_cols_miss = df.isna().mean().sort_values(ascending = False)

    missing_col_list = []
    missing_col = {}

    for i in range(all_cols_miss[all_cols_miss > 0].shape[0]):
        missing_col_list.append([all_cols_miss[all_cols_miss > 0].index[i], \
                                round(all_cols_miss[all_cols_miss > 0][i]*100, 2)])

    missing_col.update(missing_col_list)
    return missing_col

In [20]:
#Looking at missing values in data
missingness(ACS)

{'pop_now_married': 80.0,
 'pop_15_and_over': 80.0,
 'pop_divorced': 80.0,
 'pop_widowed': 80.0,
 'pop_separated': 80.0,
 'pop_never_married': 80.0,
 'pop_5_years_over': 60.0,
 'speak_spanish_at_home': 60.0,
 'speak_only_english_at_home': 60.0,
 'speak_spanish_at_home_low_english': 60.0,
 'aggregate_travel_time_to_work': 1.36,
 'median_rent': 0.46,
 'renter_occupied_housing_units_paying_cash_median_gross_rent': 0.4,
 'owner_occupied_housing_units_lower_value_quartile': 0.14,
 'median_year_structure_built': 0.1,
 'owner_occupied_housing_units_median_value': 0.07,
 'owner_occupied_housing_units_upper_value_quartile': 0.06}

##### Taking a closer look into low missingness rows<br>
##### Aggregate Travel Time to Work

*Typically during census data collection, questions might change from year-to-year, leading to missingness in data througohut a longer time period (years). As such, checking missingness by year is crucial to have a better understanding of the data collection process. As the percentage for missing data in aggregate travel time to work is small, this check will not be required (less than 10% of a years worth of questions).*

In [21]:
ACS.loc[ACS['aggregate_travel_time_to_work'].isna()].head(3)

,geo_id,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,male_30_to_34,male_35_to_39,male_40_to_44,male_45_to_49,male_50_to_54,male_55_to_59,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_80_to_84,male_85_and_over,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,year
539,11959,784,327,363,421,51.9,3,23,39,0,24,0,0,0,9,14,0,0,48,59,18,32,17,16,34,3,1,26,14,28,34,0,0,0,0,12,0,5,20,50,57,22,10,20,37,13,18,22,27,6,697,774,774,NaN,NaN,628,593,367,NaN,NaN,NaN,NaN,NaN,0,18,30,33,0,0,6,33,751,11,0,0,1,0,0,96,40,784,66,1571,1630,776000,1.0469e+06,2e+06,327,76,1244,0,0,1535,0,18,0,18,0,0,0,0,0,30,40,1975,212,82,245,10,0,0,167,29,1400,0,19,0,21,0,0,0,22,11,3,251,56,125,9,0,55,39,39,0,0,0,16,6,6,34,33,33,40,8,16,8,42,50,264,0,66,10,10,62,174,38,43,NaN,11,2,249,13,0,236,9,39,174,60,25,161,47,10,63,174,269,235,111,11,56,57,5,2,10,7,148,336,0,336,292,330,0,336,4,14,11,71,74,11,15,11,5,31,56,19,14,179,15,23,106,13,179,106,0,70,34,194,32,NaN,NaN,NaN,2018
1415,10464,4434,1893,2162,2272,44.9,72,175,104,36,13,50,15,39,150,167,162,151,174,218,44,95,50,183,46,29,71,148,96,114,25,39,0,5,104,185,243,65,63,131,192,119,108,112,62,44,174,147,11,85,2966,4343,4259,NaN,NaN,3682,3399,2402,NaN,NaN,NaN,NaN,NaN,128,83,245,1117,0,23,0,1117,3317,0,19,0,1,85,13,307,129,4434,359,2157,1186,421000,531800,671300,1893,645,264,0,0,1056,132,465,221,39,24,84,136,0,0,0,160,1954,809,835,1058,223,37,0,770,265,1097,22,116,121,0,68,59,108,63,43,45,1248,37,704,99,416,313,131,112,19,0,0,182,0,0,308,139,305,70,39,342,257,636,137,2233,117,156,131,371,724,578,180,40,NaN,529,123,1571,158,333,1413,18,400,781,776,101,480,317,269,863,781,1166,668,818,46,145,74,7,37,144,101,554,2411,153,2564,1118,2389,0,2564,0,221,118,646,225,128,36,171,228,192,254,44,148,1157,142,87,626,399,1157,626,254,80,114,824,222,NaN,NaN,NaN,2018
2589,60602,1244,602,693,551,30.6,5,43,44,0,7,3,1,60,158,117,151,47,0,47,0,5,0,0,0,0,0,56,0,0,1,10,13,0,14,169,139,55,42,46,6,0,0,0,0,0,0,0,0,0,788,1244,1188,NaN,NaN,1096,987,982,NaN,NaN,NaN,NaN,NaN,146,47,242,81,65,0,21,81,1163,0,0,0,0,3,0,44,5,1206,29,652,3055,441100,NaN,2e+06,602,377,50,0,43,65,0,0,0,0,7,24,556,0,123,124,0,2006,420,182,420,0,0,0,149,0,2643,13,114,0,16,59,34,17,97,1,26,225,44,125,182,309,56,56,56,0,0,0,0,0,0,118,79,178,119,0,60,0,100,41,695,362,235,347,245,292,65,0,0,NaN,233,8,80,0,127,80,57,0,578,0,5,150,46,0,0,578,936,358,51,0,47,5,0,0,0,0,52,930,1,931,165,930,0,931,0,36,0,199,155,56,156,123,0,3,202,0,0,861,0,3,20,46,861,20,43,44,0,305,94,NaN,NaN,NaN,2018

In [22]:
ACS.loc[~ACS['aggregate_travel_time_to_work'].isna()].head(3)

,geo_id,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,male_30_to_34,male_35_to_39,male_40_to_44,male_45_to_49,male_50_to_54,male_55_to_59,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_80_to_84,male_85_and_over,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,year
866,48320,4839,2406,2387,2452,41.5,153,109,120,35,6,45,0,157,229,208,193,154,88,225,188,56,114,62,66,0,16,124,67,145,81,37,14,13,37,185,170,185,179,258,131,260,61,136,51,50,33,57,87,91,4264,4802,4703,NaN,NaN,4107,3696,3013,NaN,NaN,NaN,NaN,NaN,111,201,44,295,5,10,20,295,4544,0,0,18,0,0,5,295,346,4828,559,2591,935,102100,175500,269500,2406,767,185,26,44,2004,44,15,148,55,191,16,54,64,73,0,178,1959,855,1216,1190,138,6,0,834,223,808,33,127,72,26,82,106,55,148,104,14,1639,16,1159,578,99,264,217,163,54,0,0,47,0,0,196,400,283,385,275,426,175,205,285,2630,81,110,59,102,1185,797,243,79,76080,0,0,2497,92,0,2405,0,210,889,622,215,475,842,230,736,889,1204,574,1267,16,163,103,8,9,119,246,664,2777,167,2944,1163,2740,0,2944,10,343,168,533,210,64,266,158,158,408,324,45,90,1266,158,255,620,478,1266,620,145,155,202,829,181,NaN,NaN,NaN,2018
877,19074,5890,2055,2831,3059,39.8,130,142,179,160,37,54,32,145,180,328,117,209,175,256,229,132,50,71,18,17,9,150,77,236,117,33,68,58,234,179,152,154,190,308,272,240,135,71,98,61,92,54,28,52,5175,5785,5652,NaN,NaN,4939,4038,3356,NaN,NaN,NaN,NaN,NaN,49,100,269,104,1,0,241,104,5786,30,0,39,0,0,0,359,389,5853,362,2238,958,140800,165600,197000,2055,501,183,59,21,1125,640,143,92,37,166,35,0,0,0,0,400,1951,975,517,1538,187,0,0,1191,430,844,28,53,42,58,31,75,54,120,33,7,1554,0,1088,245,81,290,81,67,7,0,7,209,17,17,335,382,485,402,138,495,439,185,343,3204,106,33,65,133,659,844,301,118,84650,278,92,2786,424,0,2362,5,405,535,1685,270,159,517,241,1813,535,690,257,1192,70,121,20,13,59,388,150,821,3290,294,3584,1355,3237,0,3584,0,340,380,889,213,38,219,178,108,326,293,260,46,1039,323,445,880,603,1039,880,126,320,360,1273,316,NaN,NaN,NaN,2018
881,48215,11979,4895,5827,6152,39.3,711,531,403,241,148,39,77,150,315,218,213,425,388,394,501,116,129,193,60,87,82,338,352,433,180,128,46,49,316,474,352,354,418,215,405,492,197,295,145,173,292,148,134,216,858,11779,11330,NaN,NaN,9101,7837,6062,NaN,NaN,NaN,NaN,NaN,37,10740,26,163,0,0,192,163,11816,0,0,649,726,53,0,80,166,11917,5009,7379,743,30000,56400,118500,4895,2769,2484,131,0,4037,1610,179,144,88,261,245,815,0,26,154,1013,1948,837,2471,2424,2242,1,3,3189,2143,567,378,955,230,176,215,225,176,163,172,79,2126,18,748,232,1020,1097,54,0,27,11,16,1043,110,62,301,241,579,830,328,460,242,267,282,3530,111,189,548,1582,2070,961,221,61,98185,257,257,3075,571,0,2504,119,428,661,2228,331,421,1648,1587,2701,661,904,481,2407,60,94,127,87,363,599,359,1689,3746,606,4352,4749,3719,0,4352,0,594,109,1062,212,93,409,146,164,273,336,336,12,852,155,789,725,1225,852,725,759,594,643,2652,384,NaN,NaN,NaN,2018

Looking at how the aggregate time to work is calculated, the missing values in this column can be imputed by multiplying the number of commuters in a certain time frame with the average commute time.

In [23]:
commute_l = ACS.filter(regex = 'commute_').columns.to_list()

#Extracting time segments from column titles
commute_times = list(map(lambda x: x.split(sep = '_'), commute_l))

#Calculating average commute times for the time segments
commute_times = list(map(lambda y: statistics.mean(y), 
                         list(map(lambda x: [int(word) for word in x if word.isdigit()], commute_times))))

print(f'Average commute times: {commute_times}')

#Creating a dataframe focusing on missing data in aggregate travel time to work
commute_df = ACS.loc[ACS['aggregate_travel_time_to_work'].isna()][commute_l].astype(float)

#Only looking at commute time columns
commute_df.iloc[:, :] *= commute_times

#Calculating the aggregate time to work
commute_df['aggregate_travel_time_to_work'] = commute_df.sum(axis = 1)

#Dropping all columns but aggregate time to work
commute_df.drop(columns = commute_l, inplace = True)

#Replacing missing values with imputed values
ACS.loc[ACS['aggregate_travel_time_to_work'].isna(), 'aggregate_travel_time_to_work'] = commute_df

missing_rows = ACS.loc[ACS['aggregate_travel_time_to_work'].isna()].shape[0]

#Checking for missingness
print(f'Rows with missingness in agg travel time to work: {missing_rows}')

#Resetting index of dataframe
ACS.reset_index(inplace = True)
ACS.drop(columns = 'index', inplace = True)

Average commute times: [10, 12, 17, 22, 27, 32, 39.5, 60, 52]
Rows with missingness in agg travel time to work: 0

##### Median Rent

*Checking in what year missingness occurred will not be required for this portion as the percentage of missingness is very small.*

In [24]:
ACS.loc[ACS['median_rent'].isna()].head(3)

,geo_id,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,male_30_to_34,male_35_to_39,male_40_to_44,male_45_to_49,male_50_to_54,male_55_to_59,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_80_to_84,male_85_and_over,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,year
111,21770,5453,1858,2831,2622,44.6,166,158,74,99,96,25,42,87,166,115,115,231,157,320,291,66,87,194,91,27,0,102,105,233,175,71,14,13,124,123,63,160,198,130,305,169,121,156,73,126,106,47,0,8,4680,5427,5318,NaN,NaN,4533,3869,3044,NaN,NaN,NaN,NaN,NaN,108,115,141,368,0,15,134,368,5085,18,15,12,13,33,10,414,477,5453,130,1946,1223,322900,399000,491900,1858,97,88,0,9,1906,40,0,0,0,0,0,0,0,84,14,38,1980,1415,265,1593,46,0,0,1112,32,NaN,0,0,21,0,0,0,0,25,51,0,1761,32,1415,294,0,301,284,175,87,22,0,17,0,0,254,131,201,334,96,378,231,687,378,2690,20,217,60,48,181,724,529,376,104900,25,0,2636,211,6,2425,0,265,1076,855,346,512,444,200,947,1076,1445,591,1055,77,210,144,29,43,311,178,992,3028,183,3211,1322,2907,0,3211,52,201,347,621,144,83,162,138,317,242,599,71,51,1467,279,187,635,460,1467,635,150,280,369,1261,211,NaN,NaN,NaN,2018
242,12531,3323,1092,1721,1602,46.5,91,179,63,69,63,0,0,45,60,103,107,7,101,210,190,39,36,84,23,27,22,151,64,81,111,23,0,0,74,65,85,92,71,76,88,116,126,73,14,64,60,44,49,75,3105,3286,3224,NaN,NaN,2617,2309,1772,NaN,NaN,NaN,NaN,NaN,32,58,37,51,0,0,72,51,3272,12,10,6,21,0,12,293,349,3193,74,1362,1600,232000,291200,381500,1092,182,270,0,41,1222,49,69,12,0,0,0,0,10,7,6,152,1967,740,238,854,85,0,0,809,61,NaN,14,68,9,0,0,71,9,11,0,0,910,8,719,156,0,293,280,165,115,0,0,13,0,0,38,63,166,110,25,249,167,455,161,1434,56,68,10,35,266,457,227,107,62435,107,0,1255,102,0,1153,122,211,466,631,228,190,258,179,730,466,600,237,697,60,167,80,6,23,248,119,703,1548,64,1612,1005,1502,0,1612,0,82,241,475,85,39,39,72,10,194,203,87,21,729,297,106,249,167,729,249,199,128,209,818,133,NaN,NaN,NaN,2018
1067,21918,3853,1348,2030,1823,47.1,53,119,73,151,45,24,14,40,144,111,87,128,159,221,178,47,35,98,61,32,15,70,68,106,41,109,0,13,72,31,150,50,130,174,174,174,112,99,48,56,64,33,14,35,3614,3836,3800,NaN,NaN,3281,2855,2317,NaN,NaN,NaN,NaN,NaN,7,22,16,151,16,0,26,151,3702,0,0,0,4,0,0,380,341,3818,254,1440,739,167100,237400,304100,1348,117,92,5,0,1202,0,0,6,8,0,0,0,224,23,33,62,1988,787,374,974,129,0,0,681,83,NaN,19,0,0,12,14,0,9,63,0,0,1231,0,834,309,0,100,100,55,45,0,0,0,0,0,77,131,163,118,88,479,236,313,244,1849,6,62,0,22,278,509,414,125,66880,23,0,1811,110,0,1701,21,211,271,988,256,79,379,347,1275,271,324,116,846,27,31,14,9,100,386,186,753,1954,88,2042,1239,1911,0,2042,11,145,230,377,116,9,218,68,159,249,232,116,24,530,324,374,393,333,530,393,198,146,220,845,198,NaN,NaN,NaN,2018

With no way to calculate the median rent, these rows will be dropped.

In [25]:
def clean_missingness_rows(col_names, df):
    """
    This function drops rows with NaN values from a specific list of columns
    
    Arguments
    
    col_names : (list) list of columns with riws containing NaN values
    df        : (Pandas dataframe) dataframe of interest
    
    Returns
    
    df        : (Pandas dataframe) cleaned version of inputted dataframe
    
    """
    df.dropna(axis = 0, subset = col_names, inplace = True)
    for col in df[col_names]:
        missing_rows = col.count('Nan')
        if missing_rows > 0:
            raise ValueError('Cleaning incomplete!')
        else:
            print(f'Rows with missingness in {col}: {missing_rows}\nCleaning complete.\n\n')

In [26]:
clean_missingness_rows(['median_rent'], ACS)

Rows with missingness in median_rent: 0
Cleaning complete.

##### Other

*Checking in what year missingness occurred will not be required for this portion as the percentage of missingness is very small.*

For columns *renter_occupied_housing_units_paying_cash_median_gross_rent*, *owner_occupied_housing_units_lower_value_quartile*, *median_year_structure_built*, *owner_occupied_housing_units_median_value*, and *owner_occupied_housing_units_upper_value_quartile* it will not be feasible to impute these values as they are single value and not derived from other columns based on Partly Parrots's analysis. As such, these rows will be dropped.

In [27]:
clean_missingness_rows(['renter_occupied_housing_units_paying_cash_median_gross_rent',
                              'owner_occupied_housing_units_lower_value_quartile', 
                              'median_year_structure_built', 'owner_occupied_housing_units_median_value',
                              'owner_occupied_housing_units_upper_value_quartile'], ACS)

Rows with missingness in renter_occupied_housing_units_paying_cash_median_gross_rent: 0
Cleaning complete.


Rows with missingness in owner_occupied_housing_units_lower_value_quartile: 0
Cleaning complete.


Rows with missingness in median_year_structure_built: 0
Cleaning complete.


Rows with missingness in owner_occupied_housing_units_median_value: 0
Cleaning complete.


Rows with missingness in owner_occupied_housing_units_upper_value_quartile: 0
Cleaning complete.

##### Taking a closer look into the high missingness columns<br>
##### Marital Status

In [28]:
ACS.loc[ACS['pop_now_married'].isna()]

,geo_id,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,male_30_to_34,male_35_to_39,male_40_to_44,male_45_to_49,male_50_to_54,male_55_to_59,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_80_to_84,male_85_and_over,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,year
0,11959,784,327,363,421,51.9,3,23,39,0,24,0,0,0,9,14,0,0,48,59,18,32,17,16,34,3,1,26,14,28,34,0,0,0,0,12,0,5,20,50,57,22,10,20,37,13,18,22,27,6,697,774,774,NaN,NaN,628,593,367,NaN,NaN,NaN,NaN,NaN,0,18,30,33,0,0,6,33,751,11,0,0,1,0,0,96,40,784,66,1571,1630,776000,1.0469e+06,2e+06,327,76,1244,0,0,1535,0,18,0,18,0,0,0,0,0,30,40,1975,212,82,245,10,0,0,167,29,1400,0,19,0,21,0,0,0,22,11,3,251,56,125,9,0,55,39,39,0,0,0,16,6,6,34,33,33,40,8,16,8,42,50,264,0,66,10,10,62,174,38,43,8341,11,2,249,13,0,236,9,39,174,60,25,161,47,10,63,174,269,235,111,11,56,57,5,2,10,7,148,336,0,336,292,330,0,336,4,14,11,71,74,11,15,11,5,31,56,19,14,179,15,23,106,13,179,106,0,70,34,194,32,NaN,NaN,NaN,2018
1,48320,4839,2406,2387,2452,41.5,153,109,120,35,6,45,0,157,229,208,193,154,88,225,188,56,114,62,66,0,16,124,67,145,81,37,14,13,37,185,170,185,179,258,131,260,61,136,51,50,33,57,87,91,4264,4802,4703,NaN,NaN,4107,3696,3013,NaN,NaN,NaN,NaN,NaN,111,201,44,295,5,10,20,295,4544,0,0,18,0,0,5,295,346,4828,559,2591,935,102100,175500,269500,2406,767,185,26,44,2004,44,15,148,55,191,16,54,64,73,0,178,1959,855,1216,1190,138,6,0,834,223,808,33,127,72,26,82,106,55,148,104,14,1639,16,1159,578,99,264,217,163,54,0,0,47,0,0,196,400,283,385,275,426,175,205,285,2630,81,110,59,102,1185,797,243,79,76080,0,0,2497,92,0,2405,0,210,889,622,215,475,842,230,736,889,1204,574,1267,16,163,103,8,9,119,246,664,2777,167,2944,1163,2740,0,2944,10,343,168,533,210,64,266,158,158,408,324,45,90,1266,158,255,620,478,1266,620,145,155,202,829,181,NaN,NaN,NaN,2018
2,19074,5890,2055,2831,3059,39.8,130,142,179,160,37,54,32,145,180,328,117,209,175,256,229,132,50,71,18,17,9,150,77,236,117,33,68,58,234,179,152,154,190,308,272,240,135,71,98,61,92,54,28,52,5175,5785,5652,NaN,NaN,4939,4038,3356,NaN,NaN,NaN,NaN,NaN,49,100,269,104,1,0,241,104,5786,30,0,39,0,0,0,359,389,5853,362,2238,958,140800,165600,197000,2055,501,183,59,21,1125,640,143,92,37,166,35,0,0,0,0,400,1951,975,517,1538,187,0,0,1191,430,844,28,53,42,58,31,75,54,120,33,7,1554,0,1088,245,81,290,81,67,7,0,7,209,17,17,335,382,485,402,138,495,439,185,343,3204,106,33,65,133,659,844,301,118,84650,278,92,2786,424,0,2362,5,405,535,1685,270,159,517,241,1813,535,690,257,1192,70,121,20,13,59,388,150,821,3290,294,3584,1355,3237,0,3584,0,340,380,889,213,38,219,178,108,326,293,260,46,1039,323,445,880,603,1039,880,126,320,360,1273,316,NaN,NaN,NaN,2018
3,48215,11979,4895,5827,6152,39.3,711,531,403,241,148,39,77,150,315,218,213,425,388,394,501,116,129,193,60,87,82,338,352,433,180,128,46,49,316,474,352,354,418,215,405,492,197,295,145,173,292,148,134,216,858,11779,11330,NaN,NaN,9101,7837,6062,NaN,NaN,NaN,NaN,NaN,37,10740,26,163,0,0,192,163,11816,0,0,649,726,53,0,80,166,11917,5009,7379,743,30000,56400,118500,4895,2769,2484,131,0,4037,1610,179,144,88,261,245,815,0,26,154,1013,1948,837,2471,2424,2242,1,3,3189,2143,567,378,955,230,176,215,225,176,163,172,79,2126,18,748,232,1020,1097,54,0,27,11,16,1043,110,62,301,241,579,830,328,460,242,267,282,3530,111,189,548,1582,2070,961,221,61,98185,257,257,3075,571,0,2504,119,428,661,2228,331,421,1648,1587,2701,661,904,481,2407,60,94,127,87,363,599,359,1689,3746,606,4352,4749,3719,0,4352,0,594,109,1062,212,93,409,146,164,273,336,336,12,852,155,789,725,1225,852,725,759,594,643,2652,384,NaN,NaN,NaN,2018
4,60457,14018,4957,7219,6799,39.2,317,427,489,306,339,163,128,194,336,501,586,468,601,565,454,237,146,216,185,84,93,395,534,500,234,113,50,26,194,290,529,457,461,398,518,468,188,232,194,145,450,185,111,127,10845,13859,13724,NaN,NaN,11247,9609,7436,NaN,NaN,NaN,NaN,NaN,1295,436,87,2515,23,0,102,2515,11503,15,9,34,62,171,93,929,674,13946,1286,5480,942,165400,223700,281200,4957,1381,523,127,41,3459,96,22,129,737,766,249,22,0,0,0,123,1969,2753,1330,3627,467,9,0,3202,361,859,70,338,138,137,145,93,133,99,194,34,3576,0,2114,869,47,963,747,511,198,38,0,216,117,76,277,658,709,1083,301,1041,533,996,714,6312,4,107,22,191,1451,2101,806,408,207890,305,0,5966,387,108,5579,88,895,1687,2703,712,570,1412,1223,2958,1687,1969,722,3019,195,413,107,97,163,521,508,2004,6711,457,7168,4079,6419,0,7168,0,461,502,1037,503,106,1089,439,193,768,806,643,164,1945,897,1177,1575,1117,1945,1575,694,797,824,3857,850,NaN,NaN,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8916,48225,14556.000000000,5499.000000000,6972.000000000,7584.000000000,36.500000000,334.000000000,733.000000000,423.000000000,504.000000000,222.000000000,134.000000000,201.000000000,211.000000000,377.000000000,379.000000000,391.000000000,491.000000000,475.000000000,463.000000000,513.000000000,74.000000000,80.000000000,140.000000000,143.000000000,134.000000000,93.000000000,297.000000000,491.000000000,711.000000000,291.000000000,218.000000000,93.000000000,84.000000000,227.000000000,438.000000000,617.000000000,456.000000000,523.000000000,467.000000000,616.000000000,626.000000000,228.000000000,248.000000000,130.000000000,185.000000000,124.000000000,94.000000000,180.000000000,240.000000000,5266.000000000,14427.000000000,14202.000000000,13925.000000000,NaN,11293.000000000,9382.000000000,7765.000000000,NaN,NaN,NaN,NaN,NaN,241.000000000,8163.000000000,272.000000000,376.000000000,37.000000000,0E-9,442.000000000,376.000000000,14180.000000000,7.000000000,7.000000000,500.000000000,321.000000000,63.000000000,11.000000000,356.000000000,609.000000000,14301.000000000,2179.000000000,6331.000000000,996.000000000,43900.000000000,64600.000000000,85800.000000000,5499.000000000,2191.000000000,832.000000000,179.000000000,173.000000000,5252.000000000,60.000000000,40.000000000,438.000000000,256.000000000,152.000000000,0E-9,122.000000000,11.000000000,0E-9,0E-9,1845.000000000,1953.000000000,1807.000000000,2033.000000000,3466.000000000,1350.000000000,4.000000000,10.000000000,3784.000000000,1744.000000000,755.000000000,227.000000000,667.000000000,198.000000000,88.000000000,125.000000000,193.000000000,261.000000000,250.000000000,132.000000000,50.000000000,3308.000000000,4.000000000,1937.000000000,1447.000000000,545.000000000,836.000000000,405.000000000,329.000000000,51.000000000,25.000000000,0E-9,431.000000000,127.000000000,127.000000000,737.000000000,628.000000000,1040.000000000,974.000000000,423.000000000,955.000000000,586.000000000,270.000000000,481.000000000,6094.000000000,200.000000000,135.000000000,213.000000000,592.000000000,2464.000000000,1735.000000000,563.000000000,145.000000000,154835.000000000,211.000000000,211.000000000,5558.000000000,502.000000000,0E-9,5056.000000000,201.000000000,879.000000000,1096.000000000,2624.000000000,605.000000000,629.000000000,1835.000000000,1210.000000000,2958.000000000,1096.000000000,1616.000000000,799.000000000,3319.000000000,155.000000000,317.000000000,68.000000000,31.000000000,136.000000000,616.000000000,585.000000000,1908.000000000,6406.000000000,903.000000000,7309.000000000,3984.000000000,6229.000000000,0E-9,7309.000000000,0E-9,577.000000000,295.000000000,2003.000000000,367.000000000,186.000000000,1044.000000000,276.000000000,278.000000000,637.000000000,381.000000000,251.000000000,111.000000000,1714.000000000,439.000000000,1002.000000000,1649.000000000,1602.000000000,1714.000000000,1649.000000000,787.000000000,969.000000000,1099.000000000,4214.000000000,732.000000000,13188.000000000,239.000000000,71.000000000,2015
8917,11767,15145.000000000,4745.000000000,7246.000000000,7899.000000000,41.200000000,332.000000000,412.000000000,596.000000000,467.000000000,185.000000000,137.000000000,34.000000000,219.000000000,339.000000000,406.000000000,374.000000000,622.000000000,661.000000000,413.000000000,581.000000000,193.000000000,175.000000000,377.000000000,198.000000000,116.000000000,11.000000000,274.000000000,631.000000000,671.000000000,360.000000000,290.000000000,223.000000000,83.000000000,124.000000000,252.000000000,398.000000000,502.000000000,617.000000000,644.000000000,630.000000000,575.000000000,194.000000000,240.000000000,141.000000000,272.000000000,277.000000000,234.000000000,87.000000000,180.000000000,13172.000000000,15096.000000000,14795.000000000,14539.000000000,NaN,11935.000000000,10107.000000000,7846.000000000,NaN,NaN,NaN,NaN,NaN,492.000000000,242.000000000,730.000000000,916.000000000,0E-9,0E-9,85.000000000,916.000000000,14229.000000000,6.000000000,28.000000000,1.000000000,0E-9,11.000000000,28.000000000,1056.000000000,915.000000000,14881.000000000,482.000000000,4918.000000000,1370.000000000,381400.000000000,452100.000000000,554400.000000000,4745.000000000,506.000000000,173.000000000,36.000000000,37.000000000,4324.000000000,225.000000000,85.000000000,20.000000000,111.000000000,49.000000000,80.000000000,24.000000000,0E-9,0E-9,0E-9,280.000000000,1972.000000000,3202.000000000,799.000000000,3946.000000000,170.000000000,0E-9,23.000000000,3743.000000000,536.000000000,1292.000000000,78.000000000,94.000000000,13.000000000,26.000000000,33.000000000,54.000000000,88.000000000,77.000000000,43.000000000,0E-9,4239.000000000,0E-9,3256.000000000,806.000000000,62.000000000,711.000000000,493.000000000,385.000000000,108.000000000,0E-9,0E-9,218.000000000,116.000000000,116.000000000,643.000000000,785.000000000,1187.000000000,988.000000000,362.000000000,908.000000000,545.000000000,1364.000000000,631.000000000,7413.000000000,61.000000000,160.000000000,137.000000000,148.000000000,1027.000000000,1784.000000000,1191.000000000,595.000000000,249775.000000000,387.000000000,2.000000000,6906.000000000,304.000000000,0E-9,6602.000000000,272.000000000,914.000000000,2267.000000000,2578.000000000,617.000000000,1240.000000000,1045.000000000,752.000000000,2729.000000000,2267.000000000,3467.000000000,1783.000000000,2576.000000000,152.000000000,548.000000000,341.000000000,6.000000000,34.000000000,625.000000000,347.000000000,2053.000000000,7713.000000000,349.000000000,8081.000000000,3854.000000000,7573.000000000,19.000000000,8062.000000000,9.000000000,475.000000000,597.000000000,2200.000000000,541.000000000,372.000000000,457.000000000,561.000000000,460.000000000,702.000000000,817.000000000,332.000000000,190.000000000,3363.000000000,705.000000000,456.000000000,1880.000000000,1309.000000000,3363.000000000,1880.000000000,787.000000000,982.000000000,1132.000000000,4373.000000000,877.000000000,12763.000000000,371.000000000,146.000000000,2015
8918,19464,46137.000000000,17823.000000000,22302.000000000,23835.000000000,38.500000000,1729.000000000,1623.000000000,1357.000000000,870.000000000,600.000000000,215.000000000,246.000000000,921.000000000,1372.000000000,1522.000000000,1473.000000000,1616.000000000,1733.000000000,1502.000000000,1702.000000000,468.000000000,507.000000000,633.000000000,376.000000000,402.000000000,322.000000000,1871.000000000,1516.000000000,1374.000000000,861.000000000,568.000000000,145.000000000,301.000000000,759.000000000,1405.000000000,1801.000000000,1289.000000000,1848.000000000,1599.000000000,1831.000000000,1629.000000000,514.000000000,801.000000000,433.000000000,567.000000000,836.000000000,601.000000000,594.000000000,692.000000000,36025.000000000,45492.000000000,44023.000000000,42537.000000000,NaN,35929.000000000,31181.000000000,24750.000000000,NaN,NaN,NaN,NaN,NaN,772.000000000,5321.000000000,381.000000000,2707.000000000,25.000000000,60.000000000,1618.000000000,2707.000000000,43430.000000000,14.000000000,0E-9,356.000000000,374.000000000,237.000000000,52.000000000,2576.000000000,2386.000000000,45754.000000000,6457.000000000,19217.000000000,865.000000000,117000.000000000,166000.000000000,237100.000000000,17823.000000000,5549.000000000,1394.000000000,239.000000000,355.000000000,9915.000000000,4905.000000000,1064.000000000,980.000000000,822.000000000,530.000000000,228.000000000,521.000000000,252.000000000,6.000000000,116.000000000,1913.000000000,1958.000000000,8473.000000000,5897.000000000,11926.000000000,2904.000000000,18.000000000,57.000000000,11201.000000000,3455.000000000,724.000000000,300.000000000,1562.000000000,540.000000000,436.000000000,584.000000000,743.000000000,571.000000000,470.000000000,277.000000000,66.000000000,12274.000000000,24.000000000,8673.000000000,3487.000000000,1590.000000000,4058.000000000,2585.000000000,1739.000000000,771.000000000,75.000000000,0E-9,1473.000000000,146.000000000,138.000000000,2998.000000000,2946.000000000,2627.000000000,2384.000000000,1126.000000000,2256.000000000,1851.000000000,2930.000000000,2720.000000000,21838.000000000,906.000000000,591.000000000,1131.000000000,1877.000000000,6359.000000000,6346.000000000,2367.000000000,874.000000000,641285.000000000,346.000000000,330.000000000,20204.000000000,2028.000000000,12.000000000,18176.000000000,380.000000000,2471.000000000,4888.000000000,10683.000000000,1956.000000000,2121.000000000,3438.000000000,3796.000000000,12087.000000000,4888.000000000,6512.000000000,2545.000000000,7865.000000000,370.000000000,762.000000000,412.000000000,118.000000000,495.000000000,2738.000000000,1155.000000000,6050.000000000,22880.000000000,2193.000000000,25112.000000000,10817.000000000,22429.000000000,39.000000000,25073.000000000,139.000000000,1789.000000000,1256.000000000,5382.000000000,1504.000000000,458.000000000,3283.000000000,1098.000000000,591.000000000,3236.000000000,2327.000000000,1307.000000000,510.000000000,7512.000000000,1808.000000000,3070.000000000,6063.000000000,4427.000000000,7512.000000000,6063.000000000,2451.000000000,2263.000000000,2376.000000000,10830.000000000,1920.000000000,39691.000000000,1624.000000000,599.000000000,2015

In [29]:
ACS.loc[~ACS['pop_now_married'].isna()]['year'].unique()

array([2014])

Based on the results above, it seems like the data pertaining to marital status was either not reported by the individuals completing the survey or was not collected by the survey department, with the latter being the most probable example. With an 80% reported missingness, with no way of comfortably imputing, the columns pertaining to marital status will be dropped.

In [30]:
#Dropping marital status columns
ACS.drop(columns = ['pop_never_married', 'pop_now_married', 'pop_separated', 'pop_widowed', 'pop_divorced'], 
         inplace = True)

##### Languages Spoken at Home

In [31]:
ACS.loc[~ACS['speak_spanish_at_home'].isna()]['year'].unique()

array([2015, 2014])

In [32]:
ACS.loc[~ACS['speak_only_english_at_home'].isna()]['year'].unique()

array([2015, 2014])

In [33]:
ACS.loc[~ACS['speak_only_english_at_home'].isna()]['year'].unique()

array([2015, 2014])

In [34]:
ACS.loc[~ACS['speak_spanish_at_home_low_english'].isna()]['year'].unique()

array([2015, 2014])

Based on the above results, it can be concluded that the only in 2014 and 2015 data about languages spoken at home was collected. With a 60% reported missingness, with no way of comfortably imputing, the columns pertaining to languages spoken at home will be dropped.

In [35]:
ACS.drop(columns = ['speak_spanish_at_home', 'speak_only_english_at_home', 'speak_only_english_at_home',
                   'speak_spanish_at_home_low_english'], inplace = True)

### Population Age Groups

To further reduce the number of columns in the ACS data set, columns reporting various population groups will be further grouped, with the total values removed from the data set.<br><br>
Before doing so, total values will be checked with the "dummified" groupings.

#### Checking Male Population Grouping and Totals

Age groups will further be combined into the following:<br>
- Males under 18
- Males from 18 to 24
- Males from 25 to 49
- Males from 50 to 66
- Males above 67

In [36]:
#Combining age groups
ACS['male_under_18'] = ACS['male_under_5'] + ACS['male_5_to_9'] + ACS['male_10_to_14'] + ACS['male_15_to_17']
ACS['male_18_to_24'] = ACS['male_18_to_19'] + ACS['male_20'] + ACS['male_21'] + ACS['male_22_to_24']
ACS['male_25_to_49'] = ACS['male_25_to_29'] + ACS['male_30_to_34'] + ACS['male_35_to_39'] + ACS['male_40_to_44'] +\
                        ACS['male_45_to_49']
ACS['male_50_to_66'] = ACS['male_50_to_54'] + ACS['male_55_to_59'] + ACS['male_65_to_66']
ACS['male_above_67'] = ACS['male_67_to_69'] + ACS['male_70_to_74'] + ACS['male_75_to_79'] + ACS['male_80_to_84'] +\
                        ACS['male_85_and_over']

In [37]:
def clean_group_distribution(df, col_start, check_on, bound_low = None, bound_high = None, new_group = None):
    """
    This function cleans up "dummified" values of a set of columns by checking whether the 
    aggregate of the columns in question add up to the total in the original dataframe. Should 
    it not add up, a new column is generated with the difference between the sum and total.
    
    Arguments
    
    df         : (Pandas dataframe) dataframe of interest
    col_start  : (str) string indicating what each dummified column begins with - must be in quotations! 
    check_on   : (Pandas dataframe col) column to check against the dummified columns
    bound_low  : (int) value at which dummified column list begins (default = None)
    bound_high : (str) name of first column after dummified columns of interest (default = None) - 
                       must be in quotations!
    new_group  : (int) If 1 is inputted, the function assumes a new grouping has been introduced for the 
                       dummified columns in question (default = None)
    
    Returns
    
    df         : (Pandas dataframe) cleaned version of inputted dataframe
    
    """
    check_on = check_on.astype(float)
    
    #Creating a list of columns of interest
    cols_interest = [x for x in df.columns if x.startswith(col_start)]
    
    #Additional cleaning if required (specified by bounds low and high)
    if bound_low:
        cols_interest = cols_interest[bound_low:cols_interest.index(bound_high)]
    
    #Creating a check column
    df[cols_interest] = df[cols_interest].astype(float)
    df['check'] = df[cols_interest].sum(axis = 1)
    df['check'] = df['check'].astype(float)
    
    #Comparing total of check_on with check values
    print(f'Total rows in requested dataframe: {df.shape[0]}')
    print(f'Total rows with unmatched employed population: {df.loc[check_on != df.check].shape[0]}\n\n')
    
    #Creating the remainder of specified group as column
    df['x'] = abs(check_on - df['check'])
    df['x'] = df['x'].astype(float)
    
    #Reporting percentage of values that haven't been appropriately reported
    perc_x = round(df['x'].sum() / check_on.sum() * 100, 2)
    print(f'Total percentage of values that haven\'t been appropriately reported: {perc_x}%')
    
    #Dropping intermediary operation columns
    df.drop(columns = ['check', check_on.name], inplace = True)
    
    #Dropping splitting columns
    if new_group == 1:
        df.drop(columns = cols_interest, inplace = True)
    
    if perc_x == 0:
        df.drop(columns = 'x', inplace = True)
        print('Creating difference column in not necessary.')
        
    #Renaming remainder column
    df.rename(columns = {'x': col_start+'x'}, inplace = True)
    
    return df.head(3)

In [38]:
clean_group_distribution(ACS, 'male_', ACS['male_pop'], 1, 'male_male_households', 1)

Total rows in requested dataframe: 11079
Total rows with unmatched employed population: 11079


Total percentage of values that haven't been appropriately reported: 5.24%

,geo_id,total_pop,households,female_pop,median_age,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,year,male_under_18,male_18_to_24,male_25_to_49,male_50_to_66,male_above_67,male_x
0,11959,784,327,421,51.9,26,14,28,34,0,0,0,0,12,0,5,20,50,57,22,10,20,37,13,18,22,27,6,697,774,774,NaN,NaN,628,593,367,0,18,30,33,0,0,6,33,751,11,0,0,1,0,0,96,40,784,66,1571,1630,776000,1.0469e+06,2e+06,327,76,1244,0,0,1535,0,18,0,18,0,0,0,0,0,30,40,1975,212,82,245,10,0,0,167,29,1400,0,19,0,21,0,0,0,22,11,3,251,56,125,9,0,55,39,39,0,0,0,16,6,6,34,33,33,40,8,16,8,42,50,264,0,66,10,10,62,174,38,43,8341,11,2,249,13,0,236,9,39,174,60,25,161,47,10,63,174,269,235,111,11,56,57,5,2,10,7,148,336,0,336,292,330,0,336,4,14,11,71,74,11,15,11,5,31,56,19,14,179,15,23,106,13,179,106,0,70,34,194,32,2018,65,24,71,109,71,23.0
1,48320,4839,2406,2452,41.5,124,67,145,81,37,14,13,37,185,170,185,179,258,131,260,61,136,51,50,33,57,87,91,4264,4802,4703,NaN,NaN,4107,3696,3013,111,201,44,295,5,10,20,295,4544,0,0,18,0,0,5,295,346,4828,559,2591,935,102100,175500,269500,2406,767,185,26,44,2004,44,15,148,55,191,16,54,64,73,0,178,1959,855,1216,1190,138,6,0,834,223,808,33,127,72,26,82,106,55,148,104,14,1639,16,1159,578,99,264,217,163,54,0,0,47,0,0,196,400,283,385,275,426,175,205,285,2630,81,110,59,102,1185,797,243,79,76080,0,0,2497,92,0,2405,0,210,889,622,215,475,842,230,736,889,1204,574,1267,16,163,103,8,9,119,246,664,2777,167,2944,1163,2740,0,2944,10,343,168,533,210,64,266,158,158,408,324,45,90,1266,158,255,620,478,1266,620,145,155,202,829,181,2018,417,208,872,469,258,163.0
2,19074,5890,2055,3059,39.8,150,77,236,117,33,68,58,234,179,152,154,190,308,272,240,135,71,98,61,92,54,28,52,5175,5785,5652,NaN,NaN,4939,4038,3356,49,100,269,104,1,0,241,104,5786,30,0,39,0,0,0,359,389,5853,362,2238,958,140800,165600,197000,2055,501,183,59,21,1125,640,143,92,37,166,35,0,0,0,0,400,1951,975,517,1538,187,0,0,1191,430,844,28,53,42,58,31,75,54,120,33,7,1554,0,1088,245,81,290,81,67,7,0,7,209,17,17,335,382,485,402,138,495,439,185,343,3204,106,33,65,133,659,844,301,118,84650,278,92,2786,424,0,2362,5,405,535,1685,270,159,517,241,1813,535,690,257,1192,70,121,20,13,59,388,150,821,3290,294,3584,1355,3237,0,3584,0,340,380,889,213,38,219,178,108,326,293,260,46,1039,323,445,880,603,1039,880,126,320,360,1273,316,2018,611,268,1009,617,165,161.0

#### Checking Female Population Grouping and Totals

Age groups will further be combined into the following:<br>
- Females under 18
- Females from 18 to 24
- Females from 25 to 49
- Females from 50 to 66
- Females above 67

In [39]:
#Combining age groups
ACS['female_under_18'] = ACS['female_under_5'] + ACS['female_5_to_9'] + ACS['female_10_to_14'] + ACS['female_15_to_17']
ACS['female_18_to_24'] = ACS['female_18_to_19'] + ACS['female_20'] + ACS['female_21'] + ACS['female_22_to_24']
ACS['female_25_to_49'] = ACS['female_25_to_29'] + ACS['female_30_to_34'] + ACS['female_35_to_39'] + ACS['female_40_to_44'] +\
                        ACS['female_45_to_49']
ACS['female_50_to_66'] = ACS['female_50_to_54'] + ACS['female_55_to_59'] + ACS['female_65_to_66']
ACS['female_above_67'] = ACS['female_67_to_69'] + ACS['female_70_to_74'] + ACS['female_75_to_79'] + ACS['female_80_to_84'] +\
                        ACS['female_85_and_over']

In [40]:
clean_group_distribution(ACS, 'female_', ACS['female_pop'], 1, 'female_female_households', 1)

Total rows in requested dataframe: 11079
Total rows with unmatched employed population: 0


Total percentage of values that haven't been appropriately reported: 0.0%
Creating difference column in not necessary.

,geo_id,total_pop,households,median_age,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,year,male_under_18,male_18_to_24,male_25_to_49,male_50_to_66,male_above_67,male_x,female_under_18,female_18_to_24,female_25_to_49,female_50_to_66,female_above_67
0,11959,784,327,51.9,697,774,774,NaN,NaN,628,593,367,0,18,30,33,0,0,6,33,751,11,0,0,1,0,0,96,40,784,66,1571,1630,776000,1.0469e+06,2e+06,327,76,1244,0,0,1535,0,18,0,18,0,0,0,0,0,30,40,1975,212,82,245,10,0,0,167,29,1400,0,19,0,21,0,0,0,22,11,3,251,56,125,9,0,55,39,39,0,0,0,16,6,6,34,33,33,40,8,16,8,42,50,264,0,66,10,10,62,174,38,43,8341,11,2,249,13,0,236,9,39,174,60,25,161,47,10,63,174,269,235,111,11,56,57,5,2,10,7,148,336,0,336,292,330,0,336,4,14,11,71,74,11,15,11,5,31,56,19,14,179,15,23,106,13,179,106,0,70,34,194,32,2018,65,24,71,109,71,23.0,102,0,87,116,86
1,48320,4839,2406,41.5,4264,4802,4703,NaN,NaN,4107,3696,3013,111,201,44,295,5,10,20,295,4544,0,0,18,0,0,5,295,346,4828,559,2591,935,102100,175500,269500,2406,767,185,26,44,2004,44,15,148,55,191,16,54,64,73,0,178,1959,855,1216,1190,138,6,0,834,223,808,33,127,72,26,82,106,55,148,104,14,1639,16,1159,578,99,264,217,163,54,0,0,47,0,0,196,400,283,385,275,426,175,205,285,2630,81,110,59,102,1185,797,243,79,76080,0,0,2497,92,0,2405,0,210,889,622,215,475,842,230,736,889,1204,574,1267,16,163,103,8,9,119,246,664,2777,167,2944,1163,2740,0,2944,10,343,168,533,210,64,266,158,158,408,324,45,90,1266,158,255,620,478,1266,620,145,155,202,829,181,2018,417,208,872,469,258,163.0,417,101,977,442,318
2,19074,5890,2055,39.8,5175,5785,5652,NaN,NaN,4939,4038,3356,49,100,269,104,1,0,241,104,5786,30,0,39,0,0,0,359,389,5853,362,2238,958,140800,165600,197000,2055,501,183,59,21,1125,640,143,92,37,166,35,0,0,0,0,400,1951,975,517,1538,187,0,0,1191,430,844,28,53,42,58,31,75,54,120,33,7,1554,0,1088,245,81,290,81,67,7,0,7,209,17,17,335,382,485,402,138,495,439,185,343,3204,106,33,65,133,659,844,301,118,84650,278,92,2786,424,0,2362,5,405,535,1685,270,159,517,241,1813,535,690,257,1192,70,121,20,13,59,388,150,821,3290,294,3584,1355,3237,0,3584,0,340,380,889,213,38,219,178,108,326,293,260,46,1039,323,445,880,603,1039,880,126,320,360,1273,316,2018,611,268,1009,617,165,161.0,580,393,983,610,287

Seems like women always have a reported age! Very different from the male population.

#### Population Over Certain Age Grouping

There are columns indicating the total number of people over a certain age group. As age grouping has been performed prior, these columns will be dropped along with median age (this can be calculated outside of modelling).

In [41]:
ACS.drop(columns = ['median_age', 'population_1_year_and_over', 'population_3_years_over', 
                          'pop_5_years_over', 'pop_15_and_over', 'pop_16_over', 'pop_25_years_over', 
                          'pop_25_64'], inplace = True)

Additionally, since all children are defined as people less than 18 years old, this has already been encompassed in the male / female population split. As such, the *children* column will be dropped.

In [42]:
#Additional check that all males and females under 18 are the same as the children column
children_df = ACS[['male_under_18', 'female_under_18']].copy()
children_df['sum'] = children_df['male_under_18'] + children_df['female_under_18']
children_df['children'] = ACS['children'].copy()
children_df.loc[children_df['sum'] != children_df['children']]

Empty DataFrame
Columns: [male_under_18, female_under_18, sum, children]
Index: []

In [43]:
#Dropping the children column
ACS.drop(columns = 'children', inplace = True)

### Employment Columns

Both *employed_* and *occupation_* type columns cover the same material - which sector a working individual is working. To have a general understanding of occupation, all *employed_* columns will be dropped.

In [44]:
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'employed')))]

Additionally, all columns relating to total employment, such as *civilian_labor_force* among others, will be dropped. Before doing so, a check will be performed on all occupations to ensure no employed worker is missed.

In [45]:
clean_group_distribution(ACS, 'occupation_', ACS['pop_in_labor_force'])

Total rows in requested dataframe: 11079
Total rows with unmatched employed population: 11070


Total percentage of values that haven't been appropriately reported: 7.93%

,geo_id,total_pop,households,white_pop,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children_in_single_female_hh,median_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,year,male_under_18,male_18_to_24,male_25_to_49,male_50_to_66,male_above_67,male_x,female_under_18,female_18_to_24,female_25_to_49,female_50_to_66,female_above_67,occupation_x
0,11959,784,327,697,0,18,30,33,0,0,6,33,751,11,0,0,1,0,0,96,40,784,66,1571,1630,776000,1.0469e+06,2e+06,327,76,1244,0,0,1535,0,18,0,18,0,0,0,0,0,30,40,1975,212,82,245,10,0,0,29,1400,0,19,0,21,0,0,0,22,11,3,251,56,125,9,0,55,39,39,0,0,0,16,6,6,34,33,33,40,8,16,8,42,50,264,0,66,10,10,62,174,38,43,8341,11,2,249,13,0,236,9,39,174,60,25,161,47,10,63,174,269,235,111,11,56,57,5,2,10,7,148,292,330,0,336,179.0,15.0,23.0,106.0,13.0,0,70,34,194,32,2018,65,24,71,109,71,23.0,102,0,87,116,86,0.0
1,48320,4839,2406,4264,111,201,44,295,5,10,20,295,4544,0,0,18,0,0,5,295,346,4828,559,2591,935,102100,175500,269500,2406,767,185,26,44,2004,44,15,148,55,191,16,54,64,73,0,178,1959,855,1216,1190,138,6,0,223,808,33,127,72,26,82,106,55,148,104,14,1639,16,1159,578,99,264,217,163,54,0,0,47,0,0,196,400,283,385,275,426,175,205,285,2630,81,110,59,102,1185,797,243,79,76080,0,0,2497,92,0,2405,0,210,889,622,215,475,842,230,736,889,1204,574,1267,16,163,103,8,9,119,246,664,1163,2740,0,2944,1266.0,158.0,255.0,620.0,478.0,145,155,202,829,181,2018,417,208,872,469,258,163.0,417,101,977,442,318,167.0
2,19074,5890,2055,5175,49,100,269,104,1,0,241,104,5786,30,0,39,0,0,0,359,389,5853,362,2238,958,140800,165600,197000,2055,501,183,59,21,1125,640,143,92,37,166,35,0,0,0,0,400,1951,975,517,1538,187,0,0,430,844,28,53,42,58,31,75,54,120,33,7,1554,0,1088,245,81,290,81,67,7,0,7,209,17,17,335,382,485,402,138,495,439,185,343,3204,106,33,65,133,659,844,301,118,84650,278,92,2786,424,0,2362,5,405,535,1685,270,159,517,241,1813,535,690,257,1192,70,121,20,13,59,388,150,821,1355,3237,0,3584,1039.0,323.0,445.0,880.0,603.0,126,320,360,1273,316,2018,611,268,1009,617,165,161.0,580,393,983,610,287,294.0

In [46]:
#Dropping all other columns
ACS = ACS.drop(columns = ['civilian_labor_force', 'workers_16_and_over'])

### Commuters

For the columns looking at the number of commuters, typically when people look at housing (rent or purchase), it is *time* to workplace / school / etc that plays a pivotal role. As such, all of the columns pertaining to the *type* of commuter will be dropped.

In [123]:
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'commuters_')))]
ACS.drop(columns = 'walked_to_work', inplace = True)

### People in Schools

For the columns looking at the number of people in school, the total column will be dropped. Before doing so, a check will be performed on all grade types to ensure no student is missed.

In [48]:
clean_group_distribution(ACS, 'in_grades_', ACS['in_school'])

Total rows in requested dataframe: 11079
Total rows with unmatched employed population: 11079


Total percentage of values that haven't been appropriately reported: 39.38%

,geo_id,total_pop,households,white_pop,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children_in_single_female_hh,median_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,not_in_labor_force,armed_forces,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_undergrad_college,year,male_under_18,male_18_to_24,male_25_to_49,male_50_to_66,male_above_67,male_x,female_under_18,female_18_to_24,female_25_to_49,female_50_to_66,female_above_67,occupation_x,commuters_x,in_grades_x
0,11959,784,327,697,0,18,30,33,0,0,6,33,751,11,0,0,1,0,0,96,40,784,66,1571,1630,776000,1.0469e+06,2e+06,327,76,1244,0,0,1535,0,18,0,18,0,0,0,0,0,30,40,1975,212,82,245,10,0,0,29,1400,0,19,0,21,0,0,0,22,11,3,251,56,125,9,0,55,39,39,0,0,0,16,6,6,34,33,33,40,8,16,8,42,50,0,66,10,10,62,174,38,43,8341,11.0,2.0,249.0,13.0,0.0,236,9,39,174,60,25,161,47,10,63,174,269,235,111,11,56,57,5,2,10,7,148,292,0,179.0,15.0,23.0,106.0,13.0,0.0,70.0,34.0,32,2018,65,24,71,109,71,23.0,102,0,87,116,86,0.0,11.0,90.0
1,48320,4839,2406,4264,111,201,44,295,5,10,20,295,4544,0,0,18,0,0,5,295,346,4828,559,2591,935,102100,175500,269500,2406,767,185,26,44,2004,44,15,148,55,191,16,54,64,73,0,178,1959,855,1216,1190,138,6,0,223,808,33,127,72,26,82,106,55,148,104,14,1639,16,1159,578,99,264,217,163,54,0,0,47,0,0,196,400,283,385,275,426,175,205,285,81,110,59,102,1185,797,243,79,76080,0.0,0.0,2497.0,92.0,0.0,2405,0,210,889,622,215,475,842,230,736,889,1204,574,1267,16,163,103,8,9,119,246,664,1163,0,1266.0,158.0,255.0,620.0,478.0,145.0,155.0,202.0,181,2018,417,208,872,469,258,163.0,417,101,977,442,318,167.0,41.0,327.0
2,19074,5890,2055,5175,49,100,269,104,1,0,241,104,5786,30,0,39,0,0,0,359,389,5853,362,2238,958,140800,165600,197000,2055,501,183,59,21,1125,640,143,92,37,166,35,0,0,0,0,400,1951,975,517,1538,187,0,0,430,844,28,53,42,58,31,75,54,120,33,7,1554,0,1088,245,81,290,81,67,7,0,7,209,17,17,335,382,485,402,138,495,439,185,343,106,33,65,133,659,844,301,118,84650,278.0,92.0,2786.0,424.0,0.0,2362,5,405,535,1685,270,159,517,241,1813,535,690,257,1192,70,121,20,13,59,388,150,821,1355,0,1039.0,323.0,445.0,880.0,603.0,126.0,320.0,360.0,316,2018,611,268,1009,617,165,161.0,580,393,983,610,287,294.0,376.0,467.0

### Missingness and Shape Final Check

In [49]:
missingness(ACS)

{}

In [50]:
ACS.shape

(11079, 149)

## Further Cleaning to Reduce Features

### Income Spent on Rent

Rent and income related data will be coming from ZRI and IRS data respectively. As such, columns relating to how much income is spent on rent will be dropped.

In [61]:
ACS.drop(columns = ['median_rent', 'rent_burden_not_computed', 'rent_over_50_percent', 'rent_40_to_50_percent',
                    'rent_35_to_40_percent', 'rent_30_to_35_percent', 'rent_25_to_30_percent',
                    'rent_20_to_25_percent', 'rent_15_to_20_percent', 'rent_10_to_15_percent',
                    'rent_under_10_percent'], inplace = True)

### Housing Units

In [63]:
clean_group_distribution(ACS, 'vacant_housing_units_', ACS['vacant_housing_units'])

Total rows in requested dataframe: 11079
Total rows with unmatched employed population: 11035


Total percentage of values that haven't been appropriately reported: 62.52%

,geo_id,total_pop,households,white_pop,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,pop_determined_poverty_status,poverty,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children_in_single_female_hh,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,not_in_labor_force,armed_forces,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_undergrad_college,year,male_under_18,male_18_to_24,male_25_to_49,male_50_to_66,male_above_67,male_x,female_under_18,female_18_to_24,female_25_to_49,female_50_to_66,female_above_67,occupation_x,commuters_x,in_grades_x,vacant_housing_units_x
0,11959,784,327,697,0,18,30,33,0,0,6,33,751,11,0,0,1,0,0,96,40,784,66,1571,1630,776000,1.0469e+06,2e+06,327,76,0.0,0.0,1535,0,18,0,18,0,0,0,0,0,30,40,1975,212,82,245,10,0,0,29,251,56,125,9,0,55,39,39,0,0,0,16,6,6,34,33,33,40,8,16,8,42,50,0,66,10,10,62,174,38,43,8341,11.0,2.0,249.0,13.0,0.0,236,9,39,174,60,25,161,47,10,63,174,269,235,111,11,56,57,5,2,10,7,148,292,0,179.0,15.0,23.0,106.0,13.0,0.0,70.0,34.0,32,2018,65,24,71,109,71,23.0,102,0,87,116,86,0.0,11.0,90.0,1244.0
1,48320,4839,2406,4264,111,201,44,295,5,10,20,295,4544,0,0,18,0,0,5,295,346,4828,559,2591,935,102100,175500,269500,2406,767,26.0,44.0,2004,44,15,148,55,191,16,54,64,73,0,178,1959,855,1216,1190,138,6,0,223,1639,16,1159,578,99,264,217,163,54,0,0,47,0,0,196,400,283,385,275,426,175,205,285,81,110,59,102,1185,797,243,79,76080,0.0,0.0,2497.0,92.0,0.0,2405,0,210,889,622,215,475,842,230,736,889,1204,574,1267,16,163,103,8,9,119,246,664,1163,0,1266.0,158.0,255.0,620.0,478.0,145.0,155.0,202.0,181,2018,417,208,872,469,258,163.0,417,101,977,442,318,167.0,41.0,327.0,115.0
2,19074,5890,2055,5175,49,100,269,104,1,0,241,104,5786,30,0,39,0,0,0,359,389,5853,362,2238,958,140800,165600,197000,2055,501,59.0,21.0,1125,640,143,92,37,166,35,0,0,0,0,400,1951,975,517,1538,187,0,0,430,1554,0,1088,245,81,290,81,67,7,0,7,209,17,17,335,382,485,402,138,495,439,185,343,106,33,65,133,659,844,301,118,84650,278.0,92.0,2786.0,424.0,0.0,2362,5,405,535,1685,270,159,517,241,1813,535,690,257,1192,70,121,20,13,59,388,150,821,1355,0,1039.0,323.0,445.0,880.0,603.0,126.0,320.0,360.0,316,2018,611,268,1009,617,165,161.0,580,393,983,610,287,294.0,376.0,467.0,103.0

In [71]:
#Dropping the 'dummified' version of owner occupied housing units
ACS.drop(columns = ['owner_occupied_housing_units_lower_value_quartile',
                   'owner_occupied_housing_units_upper_value_quartile'], inplace = True)

The column *housing_units_renter_occupied* covers more renter occupied homes than the values shown in column *renter_occupied_housing_units_paying_cash_median_gross_rent*. As such, the latter column will be dropped.

In [75]:
ACS.drop(columns = 'renter_occupied_housing_units_paying_cash_median_gross_rent', inplace = True)

In [119]:
ACS.drop(columns = ['occupied_housing_units'], inplace = True)

Median structure built will indicate a general idea of house age, as such housing built in specific years will be dropped.

In [81]:
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'housing_built_')))]

### Men in Ages 45-65

There were a significant number of features focusing on men ranging from 45 to 65 years of age. Since this data is encompassed in the general male population, these features will be dropped.

In [68]:
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'male_45_64')))]
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'male_45_54')))]
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'male_55_64')))]

In [104]:
ACS.drop(columns = 'male_45_to_64', inplace = True)

### Poverty

In [85]:
ACS[['pop_determined_poverty_status', 'poverty']].head(3)

  pop_determined_poverty_status poverty
0                           784      66
1                          4828     559
2                          5853     362

Looking at the two poverty columns, as well as the schema for ACS, these can be combined to achieve total number of persons living in poverty.

In [107]:
#Summing the two poverty columns
ACS['poverty_total'] = ACS['pop_determined_poverty_status'] + ACS['poverty']

#Dropping the two and keeping the total column
ACS.drop(columns = ['pop_determined_poverty_status', 'poverty'], inplace = True)

In [92]:
ACS.drop(columns = 'households_public_asst_or_food_stamps', inplace = True)

### Families with Young Children

The total column will be kept for this, whereas the detailed breakdown will be removed.

In [100]:
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'with_young_children')))]
ACS.drop(columns = 'children_in_single_female_hh', inplace = True)

### Population by Race

In [113]:
ACS[['white_pop', 'not_us_citizen_pop', 'black_pop', 'asian_pop', 'hispanic_pop', 'amerindian_pop',
     'other_race_pop', 'two_or_more_races_pop', 'hispanic_any_race', 'not_hispanic_pop']].head(3)

,white_pop,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop
0,697,0,18,30,33,0,0,6,33,751
1,4264,111,201,44,295,5,10,20,295,4544
2,5175,49,100,269,104,1,0,241,104,5786

Based on the results above, columns *hispanic_pop* and *hispanic_any_race* are the same, and column *not_hispanic_pop* is the sum of all races that are not hispanic. As such, the two columns will be dropped.

In [115]:
ACS.drop(columns = ['hispanic_any_race', 'not_hispanic_pop'], inplace = True)

### Other Columns

In [97]:
ACS.drop(columns = ['group_quarters', 'million_dollar_housing_units', 'mortgaged_housing_units'], inplace = True)

#Dropping columns related to family types in households
ACS = ACS[ACS.columns.drop(list(ACS.filter(regex = 'households')))]

Both columns *no_car* and *no_cars* describe the same phenomena, although cars is focused on households without cars, rather than people. This value will be kept for the analysis.

In [106]:
ACS.drop(columns = 'no_cars', inplace = True)

## Exporting ACS Data

In [138]:
ACS.to_csv('ACS.csv')